.nav-bar{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    display: flex;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    justify-content: space-around;
    padding: 16px;
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);

}
.nav-buttons{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 200px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}