.div-body{
    overflow: hidden;
}
span{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0.4vh;
    height: 0.4vh;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 0 0.4vh rgba(255,255,255,0.1),
    0 0 0 0px rgba(255,255,255,0.1),
    0 0 20px rgba(255,255,255,0.1);
    animation: animate1 3s linear infinite;
}

span::before{
    content: '';
    position: fixed;
    top: 50%;
    transform: translateY(10%);
    width: 10vh;
    height: 0.2vh;
    background: linear-gradient(90deg,#fff,transparent);

}

@keyframes animate1 {
    0%{
        opacity: 0.7;
        transform: rotate(310deg) translateX(0);
    }
    70%{
        opacity: 1;
    }

    100%{
        transform: rotate(315deg) translateX(-100vh);
        opacity: 0;
    }
}

span:nth-child(1){
    top: 5vh;
    right: 0;
    left:90%;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

span:nth-child(2){
    top: 10vh;
    left: 130vh;
    animation-delay: 1.6s;
    animation-duration: 3s;
}
span:nth-child(3){
    top: 0;
    right: 70vh;
    left: initial;
    animation-delay: 1s;
    animation-duration: 2.5s;
}
span:nth-child(4){
    top: 30vh;
    left: 60vh;
    animation-delay: 2s;
    animation-duration: 4s;
}
span:nth-child(5){
    top: 0;
    right: 35vh;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 3s;
}
span:nth-child(6){
    top: 20vh;
    left: 40vh;
    animation-delay: 1.6s;
    animation-duration: 5s;
}





